In [1]:
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
data_file = "clean_data.csv"
sat_df = pd.read_csv(data_file)

# sat_df.dropna()
sat_df = sat_df.dropna(how='any')
sat_df.head()

,INSTNM,CITY,STABBR,ZIP,LATITUDE,LONGITUDE,SAT_AVG,SAT_AVG_ALL,Total_EMP,Median_income,AVG_income
0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,33.505697,-86.799345,1195.0,1195,510560,37050,47480
1,University of Alabama in Huntsville,Huntsville,AL,35899,34.724557,-86.640449,1322.0,1322,226330,39820,54630
2,Alabama State University,Montgomery,AL,36104-0271,32.364317,-86.295677,935.0,935,164030,33670,42510
3,The University of Alabama,Tuscaloosa,AL,35487-0166,33.211875,-87.545978,1278.0,1278,102020,33740,41800
4,Auburn University at Montgomery,Montgomery,AL,36117-3596,32.367360,-86.177544,1083.0,1083,164030,33670,42510

In [3]:
locations = sat_df[["LATITUDE", "LONGITUDE"]]

# income = sat_df["AVG_income"].astype(float)
income = sat_df.AVG_income
income = income.astype(float)
sat = sat_df.SAT_AVG

In [9]:
fig = gmaps.figure()

heat_layer_1 = gmaps.heatmap_layer(locations, weights=income, 
                                 dissipating=False, max_intensity=100000,
                                 point_radius=1)

fig.add_layer(heat_layer_1)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
fig = gmaps.figure()

heat_layer_2 = gmaps.heatmap_layer(locations, weights=sat, 
                                 dissipating=False, max_intensity=1600,
                                 point_radius=1)

fig.add_layer(heat_layer_2)

fig

Figure(layout=FigureLayout(height='420px'))